.navbar {
    background-color: black;
    
    
  }
.navbar > li p:hover{
  background-color: red;
}


.p {
    color: white;
}

@media screen and (max-width: 992px) {
   
  #nav-mobile {
    background-color: lightgrey;
   }
  
   #nav-mobile > li p:hover{
    background-color: darkgray;
   }

   #nav-mobile p{
    color: black;
   }
   



  }