.banner-wrapper {
    display: grids;
    background: url(../../banner.png);
    grid-template-columns: 12, 1fr;
  }
  .login {
    text-align: right;
    padding-right: 3%;
    grid-column: 12;
  }
  
  .logo {
    margin-top: 10px;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    width: 280px;
    grid-column: 12;
  }
  
  .title-wrapper {
    padding-bottom: 2%;
    margin-top: -50px;
    grid-column: 1/10;
  }
  
  p{
    color:white;
  }